*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/*<!------------------------------------ header ---------------------------------- -->*/
header{
    background-color: rgba(210, 142, 87, 0.854);
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 10vh;
    
}
.logo{
    flex: 2;
    text-align: center;
}
.logo > img{
    width: 200px;
    max-width: 98%;
    max-height: 100px;
    min-width: 200px;
}

.menu{
    flex: 2;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
@media screen and (max-width: 1200px) {
    .menu{
        display: none;
    }
}
.menu> li{
    width: 25%;
    padding: 0px;
    height: 10vh;
    align-items: center;
    justify-content:space-between;
    display: flex;
}
.menu> li:hover{
    border-left: 3px solid wheat;
    border-right: 3px solid wheat;
}
.menu> li > a{
    font-weight: bolder;
    color: white;
    font-size: 120%;
    padding: 0px 20px;
    width: 100%;
    max-height: 100px;
    height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    min-width: 150px;
}
.menu> li:hover > a{
    color: black;
    text-decoration: underline wheat 3px;
}
.menu> li:hover .subMenu1{
    visibility: visible;
    top: 10vh;
}
.subMenu1{
    justify-items: center;
    position: absolute;
    border: 3px solid wheat;
    padding: 0px 0px 0px 15px;
    width: 25%;
    max-width: 195px;
    visibility: hidden;
    top: 150px;
    transition: 0.2s;
    text-align: start;
    background-color: rgba(210, 142, 87, 0.854);
}
.subMenu1> li > a{
    display: block;
    line-height: 40px;
    color: white;
    font-weight: bold;
    font-size: 100%;
}
.subMenu1> li:hover > a{
    color: black;
    text-decoration: underline wheat;
}
.subMenu2> li > a{
    display: block;
    color: white;
    font-size: 100%;
    padding: 10px;
}
.subMenu2{
    position: absolute;
    left: 95%;
    top: 0px;
    visibility: hidden;
    width: 135%;
    line-height: 30px;
    background-color: rgba(210, 142, 87, 0.854);
    border-radius: 20px;
}
.subMenu1> li:hover .subMenu2{
    visibility: visible;
}
.subMenu2> li:hover > a{
    color: black;
    text-decoration: underline wheat;
}
.other{
    flex: 1;
    display: flex;
    justify-content: space-around;
}
.other23> li > a{
    font-weight: bolder;
    color: white;
    font-size: 120%;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
}
.other>li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
}
.other1{
    width: 40%;
}
.other1> input{
    max-width: 100%;
    height: 40px;
    max-height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}
.other1> input:focus{
    outline-color: orangered;
    outline-width: 5px;
}

.other23{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.other2{
    width: 70%;
    display: flex;
    align-items: center;
    gap: 5px;
}
.other2:hover >a{
    color: black;
    text-decoration: underline wheat 3px;
    cursor: pointer;
}
.other2>span:hover{
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    .other2{
        display: none;
    }
    .other3{
        display: none;
    }
    .other1{
        width: 100%;
    }
}
.other3{
    width: 30%;
}
.other> li:hover{
    border-left: 3px solid wheat;
    border-right: 3px solid wheat;
}
.other23> li:hover{
    border-left: 3px solid wheat;
    border-right: 3px solid wheat;
}
/*<!------------------------------------ section ---------------------------------- -->*/
.mainMeo{
    width: 100%;
    position: relative;
    text-align: center;
    max-height: 100vh;
}
.mainMeo> img{
    width: 100%;
    z-index: -1;
    min-width: 428px;
    max-height: 100vh;
}
.mainMeo> h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 500%;
    color: white;
    width: 100%;
    min-width: 975px;
    text-shadow: 1px 1px 2px black, 0 0 30px rgba(210, 142, 87, 0.854), 0 0 10px rgba(185, 22, 22, 0.87);

}
.mainMeo> p{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-align: center;
    padding-top: 20px;
    font-size: 200%;
    color: white;
    font-weight: 700;
    min-width: 700px;
    text-shadow: 1px 1px 2px black, 0 0 30px rgba(210, 142, 87, 0.854), 0 0 10px rgba(185, 22, 22, 0.87);
}
.menu-mobile{
    position: fixed;
    top: 15%;
    left: 3%;
    width: 30px;
    height: 30px;
}
.menu-mobile-over{
    visibility: hidden;
    width: 150px;
    background-color: white;
    text-align: start;
}
.menu-mobile:focus .menu-mobile-over{
    visibility: visible;
}
.mobile-subMenu1{
    visibility: hidden;
    position: absolute;
    left: 150px;
    top: 0;
}
.mobile-subMenu2{
    visibility: hidden;
}
@media screen and (max-width: 980px) {
    .mainMeo>h2{
        font-size: 300%;
    }
    .mainMeo>p{
        font-size: 120%;
    }
}
@media screen and (max-width: 650px) {
    .mainMeo>h2{
        font-size: 150%;
    }
    .mainMeo>p{
        font-size: 60%;
    }
}
.fonrt-Roboto_Slab{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
}
/*--------------------------------------------------caroucel------------------------------------------------*/

.home-carousel-container{
    width: 100%;
    height: 100vh;
    top: 0;
}
.home-carousel{
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: -50px;
}
.home-carousel .home-carousel-list .home-carousel-item{
    position: absolute;
    width: 180px;
    height: 250px;
    top: 80%;
    transform: translateY(-70%);
    left: 70%;
    border-radius: 20px;
    box-shadow: o 25px 50px rgba(0,0,0,0.3);
    background-position: 50% 50%;
    background-position : cover;
    z-index: 100;
    transition: 1s;

}
.home-carousel .home-carousel-list .home-carousel-item:nth-child(1),
.home-carousel .home-carousel-list .home-carousel-item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0,0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}
.home-carousel .home-carousel-list .home-carousel-item:nth-child(3){
    left: 67%;
}
.home-carousel .home-carousel-list .home-carousel-item:nth-child(4){
    left: calc(67% + 200px);
}
.home-carousel .home-carousel-list .home-carousel-item:nth-child(5){
    left: calc(67% + 400px);
}
.home-carousel .home-carousel-list .home-carousel-item:nth-child(6){
    left: calc(67% + 600px);
}
.home-carousel .home-carousel-list .home-carousel-item:nth-child(n+7){
    left: calc(67% + 800px);
    display: none;
}
.home-carousel-item .caroucel-content{
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    width: 400px;
    text-align: left;
    color: white;
}
.caroucel-content .caroucel-name{
    font-size: 100px;
    text-transform: uppercase; /*--------------npte---------------------------------*/
    font-weight: bold;
    line-height: 1;
    text-shadow: 3px 4px 4px rgba(255,255,285,0.8) ;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}
.caroucel-content .caroucel-title{
    font-size: 100px;
    text-transform: uppercase; /*--------------npte---------------------------------*/
    color: green;
    font-weight: bold;
    line-height: 1;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}
.caroucel-content .caroucel-des{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    margin-left: 5px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.9s 1 forwards;
}
.caroucel-content .caroucel-btn{
    margin-left: 5px;

    opacity: 0;
    animation: animate 1s ease-in-out 1.2s 1 forwards;
}
.caroucel-content .caroucel-btn button{
    padding: 10px 20px;
    border: none;
    cursor: pointer; /*---------------------note--------------------------*/
    font-size: 16px;
    border: 2px solid white;
}
.caroucel-content .caroucel-btn button:nth-child(1){
    margin-right: 15px;
}
.caroucel-content .caroucel-btn button:nth-child(2){
    background: transparent; /*------------------------------note-------------------------*/
    color: green;
    border: 2px solid white;
    transition: 0.3s;
}
.caroucel-content .caroucel-btn button:nth-child(2):hover{
    background-color: green;
    color: white;
    border-color: green;
}

@keyframes animate{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter: blur(33px); /*--------------note----------------*/

    }
    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0); /*--------------note----------------*/
        
    }

}
/*------------------------------------------------gioi thieu-----------------------------------------------*/
.about{
    padding-top: 2.5%;
    display: flex;
}
.about-info{
    flex: 1;
}
.about-info>div{
    padding-left: 20%;
    padding-right: 10%;
}
.about-info>div> h2{
    font-optical-sizing: auto;
    font-weight:400;
    text-align: justify;
    font-size: 40px;
    color: rgba(212, 121, 47, 0.854);
}
.about-info> div> p{
    font-weight:350;
    font-style: normal;
    text-align: justify;
    line-height: 30px;
    padding-top: 10%;
    font-size: 20px;
}
.about-info>div> p> b{
    color: rgba(210, 142, 87, 0.854);
}
.about-info> div> a> button{
    margin-top: 5%;
    width: 100%;
    min-width: 60px;
    max-width: 120px;
    padding: 10px;
    border-radius: 50px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    border: 3px solid black;
    color: rgba(210, 142, 87, 0.854);
}
.about-info> div> a> button:hover{
    box-shadow: inset 0 0 20px 5px rgba(210, 142, 87, 0.854);
    color: black;
    border: 3px solid white;
}
.about-img{
    flex: 1;
}
.about-img> div{
    padding-top: 5%;
    display: flex;
    padding-left: 10%;
    padding-right: 20%;
    width: 100%;
}
.about-img> div> img{
    width: 100%;
    max-width: 800px;
    border-radius: 20px;
    max-height: 400px;
}
@media (max-width: 900px) {
    .about{
        flex-direction: column;
    }
    .about-img> div{
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 10%;
        width: 100%;
    }
    .about-info>div{
        padding-left: 10%;
        padding-right: 10%;
    }
    .about-info>div>h2{
        text-align: center;
    }
}
.home-commit{
    margin-top: 5%;
    padding-bottom: 5%;
    background-color: rgba(250, 205, 168, 0.479);
    border-radius: 20px;
}
.home-commit-over{
    padding-left: 10%;
    padding-right: 10%;
}
.home-commit-over> h2{
    text-align: center;
    padding: 30px 0;
    font-size: 300%;
    font-weight: 500;
    color: rgb(53, 53, 53);
}
.home-commit-over>p{
    text-align: justify;
    padding-bottom: 30px;
    font-weight:350;
    font-style: normal;
    line-height: 30px;
    font-size: 20px;
}
.home-commit-colum{
    display: flex;
    justify-content: space-around;
}
.home-commit-colum> div{
    text-align: center;
    flex: 1;
    padding: 0 30px;
}
.home-commit-colum> div> img{
    width: 80px;
    margin: 30px 0;
}
.home-commit-colum> div > p{
    text-align: justify;
    font-weight:350;
    font-style: normal;
    line-height: 30px;
    font-size: 20px;
    padding: 20px 0;
}
.home-commit-colum> div > h3{
    font-weight:350;
    font-style: normal;
    font-weight: 900;
}
@media (max-width: 831px){
    .home-commit-colum{
        flex-direction: column;
    }
    .home-commit-over{
        padding-left: 10%;
    }
}
/*<!------------------------------------ footer ---------------------------------- -->*/
.home-footer-over{
    background-color: rgba(210, 142, 87, 0.854);
    clear: both;
}
.home-footer-colum{
    display: flex;
    padding: 0 5%;
}
.home-footer-colum>div{
    flex: 1;
    padding: 0 20px;
}
.home-footer-colum-about{
    text-align: center;
}
.home-footer-colum-about>a> img{
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    max-height: 200px;
}
.home-footer-colum>div>h2{
    text-align: center;
    font-weight: 900;
    color: white;
}
.home-footer-colum-about>p{
    font-weight: 350;
    font-size: 20px;
    text-align: justify;
}
.home-footer-colum-section{
    margin-top: 5%;
    align-items: center;
    justify-content: center;
}
.home-footer-colum-section> ul > li> a{
    color: black;
    line-height: 30px;
    font-size: 20px;
}
.home-footer-colum-section> ul > li> a:hover{
    text-decoration: underline black;
}
.home-footer-colum-section> ul{
    padding-left: 25%;
    margin-top: 5%;
}
.home-footer-colum-support{
    margin-top: 5%;
}
.home-footer-colum-support-icon{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5%;
}
.home-footer-colum-support-icon >a{
    color: white;
    font-size: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 50%;
}
.home-footer-colum-support-icon >a:hover{
    background-color: white;
    color: black;
    border: 6px solid gray;
    transition: all 0.4s ease 0s;
}
@media (max-width: 1100px){
    .home-footer-colum-section> ul > li> a{
        font-size: 20px;
    }
    .home-footer-colum-section> ul{
        padding-left: 10%;
    }
}
@media (max-width: 940px){
    .home-footer-colum-section> ul > li> a{
        font-size: 15px;
    }
}
@media (max-width: 760px){
    .home-footer-colum{
        flex-direction: column;
    }
    .home-footer-colum-section> ul > li> a{
        font-size: 20px;
    }
    .home-footer-colum-section> ul{
        padding-left: 15%;
        
    }
    
}
.end-footer-over{
    padding: 25px;
    text-align: center;
    color: white;
}
