.space{
    width: 100%;
    height: 10vh;
}
.product-body-column{
    display: flex;
    margin-bottom: 20px;
}
.product-menu{
    flex: 2;
    padding-left: 1%;
    padding-top: 10px;
    font-size: 16px;
}
.product-subMenu1>li>a{
    font-weight: 800;
    color: rgb(249, 97, 63);
}
.product-subMenu1{
    position: fixed;
    width: 20%;
}

.product-menu-domestic-foreign{
    text-align: center;
    margin-left: 10%;
    margin-right: 5%;
}
.product-subMenu2>li>a{
    display: block;
    color: black;
    
}
.product-subMenu2>li{
    
    margin-left: 10%;
    margin-right: 5%;
}
.product-subMenu2>li:hover{
    border-top: 1px solid rgb(66, 66, 66);
    border-bottom: 1px solid rgb(66, 66, 66);
}
.product-selected-menu{
    text-decoration: underline;
    background-color: antiquewhite;
}
.product-main-option{
    flex: 8;
}
.content-product-name{
    text-align: center;
    padding: 20px 0;
    padding-right: 10%;
}
.product-section-over{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10% 0 0;
}
.product-section-option{
    width: 23%;
    margin: 1%;
    border-radius: 5px;
    height: 350px;
}
.product-section-option:hover{
    box-shadow: 5px 5px 10px rgba(210, 142, 87, 0.854);
    transform: translate(0.2);
}
.product-section-option-img>img{
    max-width: 98%;
    border-radius: 5px;
    
}
.product-section-option-img{
    width: 100%;
    position: relative;
}
.product-gif-new{
    width: 25%;
    top: 0%;
    right: 0%;
    position: absolute;
}
.product-gif-new> img{
    max-width: 98%;   
}
.product-add-cart{
    width: 90%;

    position: absolute;
    right: 2%;
    bottom: 0%;
    border-radius: 100%;
}

.product-add-cart > img{
    max-width: 98%;
}
.add-transition-icon-cart{
    width: 40%;
    position: absolute;
    right: 15%;
    bottom: 60%;
    transition: bottom 1s;
}
.add-transition-icon-cart > img{
    max-width: 98%;
}
.hover-add-cart-product{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 2%;
    bottom: 0%;
}
.hover-add-cart-product:hover .add-transition-icon-cart{
    bottom: 20%;
}
.product-section-option:hover{
    transform: scale(1.1);
}
.product-section-option-name{
    margin-top: 5%;
    max-width: 98%;
    padding: 0 2%;
}
.product-id{
    color: rgba(255, 127, 80, 0.674);
}
.product-name{
    color: black;
    font-weight: 600;
}
.product-price{
    text-align: end;
    color: crimson;
    font-weight: 900
}