*{
    box-sizing: border-box;
    margin-bottom: 0px;
}
body {
    background-color: #f8f4f0;
    margin-bottom: 0px;
}
.product-body-column{
    display: flex;
    height: 89vh;
    width: 100vw;
    margin-top: 30px;
}
/*--------------------------------------------menu left-------------------------------------------------------*/
.product-menu{
    flex: 1.5;
    padding-left: 1%;
    padding-top: 10px;
    font-size: 16px;
    background-color: salmon;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.product-subMenu1>li>a{
    font-weight: 800;
    color: rgb(249, 97, 63);
}
.product-subMenu1{
    position: sticky;
    width: 100%;
    top: 20%;
    border-left: 2px dashed black;
}
.product-menu-domestic-foreign{
    text-align: center;
    margin-left: 10%;
    margin-right: 5%;
}
.product-subMenu2>li>a{
    display: block;
    color: black;
    padding: 2.5% 0;
    
}
.product-subMenu2>li{
    
    margin-left: 10%;
    margin-right: 5%;
}
.product-subMenu2>li:hover{
    border-top: 1px solid rgb(66, 66, 66);
    border-bottom: 1px solid rgb(66, 66, 66);
}
.product-subMenu3{
    display: none;
}

.product-subMenu3>li>a{
    display: block;
    color: black;
    padding: 2.5% 0;
    
}
.product-subMenu3>li{
    
    margin-left: 10%;
    margin-right: 5%;
}
.product-subMenu3>li:hover{
    border-top: 1px solid rgb(66, 66, 66);
    border-bottom: 1px solid rgb(66, 66, 66);
}

.product-active-menu{
    text-decoration: underline;
    background-color: antiquewhite;
}
.product-menu:hover{
    cursor: pointer;
}
.product-main-option-over{
    flex: 8.5;
    
}

/* Icon user */
.user-icon {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    margin-right:10px;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.user-icon i {
    font-size: 40px;
    color: #666;
    margin-right: 10px;
}

.user-icon .username {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}


