*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/*<!------------------------------------ header ---------------------------------- -->*/
header{
    background-color: rgba(210, 142, 87, 0.854);
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.logo{
    flex: 2;
    text-align: center;
}
.logo > img{
    width: 200px;
    max-width: 98%;
    max-height: 100px;
}
.menu{
    flex: 2;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.menu> li{
    width: 25%;
    padding: 0px;
    max-width: 200px;
    max-height: 100px;
    display: flex;
}
.menu> li:hover{
    border-left: 3px solid wheat;
    border-right: 3px solid wheat;
}
.menu> li > a{
    font-weight: bolder;
    color: white;
    font-size: 25px;
    padding: 0px 20px;
    width: 100%;
    max-height: 100px;
    height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.menu> li:hover > a{
    color: black;
    text-decoration: underline wheat 3px;
}
.menu> li:hover .subMenu1{
    visibility: visible;
    top: 100px;
}
.subMenu1{
    justify-items: center;
    position: absolute;
    border: 3px solid wheat;
    padding: 0px 0px 0px 15px;
    width: 25%;
    max-width: 195px;
    visibility: hidden;
    top: 150px;
    transition: 0.2s;
    text-align: start;
    background-color: rgba(210, 142, 87, 0.854);
}
.subMenu1> li > a{
    display: block;
    line-height: 40px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.subMenu1> li:hover > a{
    color: black;
    text-decoration: underline wheat;
}
.subMenu2> li > a{
    display: block;
    color: white;
    font-size: 20px;
    padding: 10px;
}
.subMenu2{
    position: absolute;
    left: 95%;
    top: 0px;
    visibility: hidden;
    width: 135%;
    line-height: 30px;
    background-color: rgba(210, 142, 87, 0.854);
    border-radius: 20px;
}
.subMenu1> li:hover .subMenu2{
    visibility: visible;
}
.subMenu2> li:hover > a{
    color: black;
    text-decoration: underline wheat;
}
.other{
    flex: 1;
    display: flex;
    justify-content: space-around;
}
.other> li > a{
    font-weight: bolder;
    color: white;
    font-size: 25px;
    display: flex;
    max-height: 100px;
    height: 100px;
    align-items: center;
    justify-items: center;
}
.other>li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
}
.other1{
    width: 40%;
}
.other1> input{
    max-width: 100%;
    height: 40px;
    max-height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}
.other1> input:focus{
    outline-color: orangered;
    outline-width: 5px;
}
.other2{
    width: 40%;
}
.other2:hover >a{
    color: black;
    text-decoration: underline wheat 3px;
}
.other3{
    width: 20%;
}
.other> li:hover{
    border-left: 3px solid wheat;
    border-right: 3px solid wheat;
    display: flex;
}
/*<!------------------------------------ section ---------------------------------- -->*/
.mainMeo{
    width: 100%;
}
.mainMeo> img{
    width: 100%;
    z-index: -1;
}
.mainMeo> h2{
    width: 100%;
    position:absolute;
    top: 45%;
    left: 0;
    text-align: center;
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 500%;   
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 30px rgba(210, 142, 87, 0.854), 0 0 10px rgba(185, 22, 22, 0.87);

}
.mainMeo> p{
    width: 100%;
    position: absolute;
    top: 55%;
    text-align: center;
    padding-top: 20px;
    font-size: 200%;
    color: white;
    font-weight: 700;
    text-shadow: 1px 1px 2px black, 0 0 30px rgba(210, 142, 87, 0.854), 0 0 10px rgba(185, 22, 22, 0.87);
}
