*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    background-color: rgba(210, 142, 87, 0.854);
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
    align-items: center;
}
.logo{
    flex: 2;
    text-align: center;
}
.logo > img{
    width: 200px;
    max-width: 98%;
    
}
.menu{
    flex: 2;
    display: flex;
    justify-content: space-around;
}
.menu> li{
    width: 25%;
    padding: 5% 0px;
    max-width: 200px;
    text-align: center;
}
.menu> li:hover{
    border-left: 3px solid wheat;
    border-right: 3px solid wheat;
    
}
.menu> li > a{
    font-weight: bolder;
    color: white;
    font-size: 25px;
    padding: 20px;
}
.menu> li > a:hover{
    color: black;
}
.menu> li:hover .subMenu1{
    visibility: visible;
    top: 100px;
}
.subMenu1{
    justify-items: center;
    position: absolute;
    border: 3px solid wheat;
    padding: 5px 0px 0px 10px;
    width: 25%;
    max-width: 195px;
    visibility: hidden;
    top: 150px;
    transition: 0.2s;
}
.subMenu1> li > a{
    display: block;
    line-height: 25px;
    color: black;
    font-weight: bold;
}
.subMenu2> li > a{
    color: black;
}
.other{
    flex: 1;
    display: flex;
    justify-content: space-around;
}
.other> li > a{
    font-weight: bolder;
    color: white;
}
